body {
    background-color: lightcoral;
}

.container {
    height: 500px;
    width: 500px;
    display: block;
    margin: auto;
    border: 5px solid goldenrod;
    background-color: lightblue;
    border-radius: 10px 10px auto;
}

.pixel {
    float: right;
}

input {
    margin: auto;
    width: 510px;
    display: block;
    border: 5px solid goldenrod;
    border-radius: 0 0 10px 10px;
    color: white;
    font-size: 2em;
    font-weight: 600;
    background-color: burlywood;
}